#faq {
  background: var(--cor-2);
}
#faq .grid {
  grid-template-columns: 2fr 1fr;
}
.faq-lista dt::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 10px;
  background: var(--cor-p1);
}
.faq-content {
  grid-column: 2;
}
.faq-image {
  grid-column: 1;
  justify-self: center;
}
.faq-image img {
  width: 30vw;
}

@media (max-width: 800px) {
  #faq .grid {
    display: flex;
    flex-direction: column;
  }
  .faq-image {
    display: none;
  }
}
.js-accordion dl {
  display: none;
}
.js-accordion dt::after {
  content: "▼";
  margin-left: 10px;
}
.js-accordion dt.active::after {
  content: "▲";
}
.js-accordion dl.active {
  display: block;
  animation: slideBaixo 0.5s forwards;
}
@keyframes slideBaixo {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 1000px;
  }
}
