.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  background: none;
  margin-right: 5%;
  margin-left: 5%;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.menu a {
  display: inline-block;
  position: relative;
}
.menu a::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 0%;
  background: var(--cor-p5);
  margin-top: 4px;
  transition: 0.3s;
}
.menu a:hover {
  color: var(--cor-p5);
}
.menu a:hover:after {
  width: 100%;
}
.menu .btn a:after {
  width: 0%;
}
#btn-login {
  background: none;
  border: 1px solid var(--cor-0);
}
#btn-login:hover {
  background: var(--cor-0);
  transition: 0.5s;
  color: var(--cor-0);
}
header.sticky {
  background-color: var(--cor-p4);
  width: 100%;
  position: fixed;
  align-items: center;
  top: 0;
  animation: slideDown 1s forwards;
  z-index: 1000;
}
header.sticky .logo img {
  height: 60%;
}
.sticky .menu a::after {
  background: var(--cor-3);
}
.sticky .menu a:hover {
  color: var(--cor-3);
}
.sticky .logo a > svg {
  width: 50%;
  height: 50%;
}
@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
    border-radius: 0;
  }
  to {
    opacity: 1;
    max-height: 100px;
    border-radius: 0px 0px 5px 5px;
  }
}
